# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment variables
.env*
.env.*

# MongoDB artifacts
dump/
*.lock

# VSCode settings
.vscode/
*.code-workspace

# OS-specific
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# IDE files
.idea/
*.sublime-project
*.sublime-workspace

LICENSE